@charset "utf-8";

/* content */
.main_content{position:relative;min-width:1920px;margin:0 auto;}

/* visual */
.gallery{}
.gallery .visual.type{background: url(../images/main/bg_visual_01.jpg)no-repeat;} 
.gallery .visual.type2{display: none; background: url(../images/main/bg_visual_02.jpg)no-repeat;}

/* 예약하기 */
.booking_box{position:absolute;top:70px;left:50%;margin-left:-600px;}

.tab_route{overflow:hidden;width:756px;height:75px;margin:0 auto;}
.tab_route li{float:left;}
.tab_route li a{display:inline-block;position:relative;width:187px;height:75px;margin-right:2px;}
.tab_route li a:after{position:absolute;top:38px;left:0;width:187px;height:6px;background:#fff;transform:skewX(-25deg);content:"";}
.tab_route a span{display:inline-block;position:absolute;bottom:0;left:0;font-family:'Malgun Gothic';font-size:13px;color:rgba(255,255,255,0.7);letter-spacing:-0.50px;}
.tab_route li.on a:after{background-color:#ff0000;}
.tab_route li.on span{top:0;height:33px;color:#fff;line-height:33px;}

.tab_way{clear:both;width:968px;height:26px;margin:0 auto;}
.tab_way li{float:left;}
.tab_way a{display:inline-block;width:70px;height:26px;font-family:'Malgun Gothic';font-size:15px;color:rgba(255,255,255,0.6);letter-spacing:-0.50px;text-align:center;line-height:24px;}
.tab_way li a.on {color:#fff; border-bottom:2px solid #ff0000;content:"";}
.tab_way:after{display:block;clear:both;content:"";}

.booking{position:relative;width:968px;height:80px;margin:15px auto 0;background:#fff;font:0/0 Arial;}
.booking a{display:inline-block;width:163px;height:68px;padding:12px 0 0 12px;border-right:1px solid #dedede;vertical-align:middle;}
.booking a strong{display:block;font-size:25px;color:#000;letter-spacing:-0.75px;line-height:1.0em;}
.booking a span{font-family:'Spoqa Han Sans';font-size:15px;color:#999;letter-spacing:-0.75px;line-height:1.0em;}
.booking .location span{display:block;margin-top:5px;font-family:'Malgun Gothic';font-size:14px;color:#000;}
.booking .btn_search{width:88px;height:80px;padding:0;background:#ff0000;border:none;font-family:'Malgun Gothic';font-size:15px;color:#fff;letter-spacing:-0.50px;text-align:center;line-height:80px;}
.booking .btn_recent{position:absolute;top:-25px;right:0;width: 153px; height:14px;padding:0;border-right:none;font-family:'Malgun Gothic';font-size:13px;color:rgba(255,255,255,0.7);letter-spacing:-0.50px;}
.booking .btn_recent:after{position: absolute; top: 0; right: 0; width: 13px; height: 13px; background: url(../images/main/sp_sel.png)-100px 0; content: ""; cursor: pointer;}
.booking .btn_recent span{display:inline-block;font-size:13px;color:rgba(255,255,255,0.7);vertical-align:middle;}

/* 퀵메뉴 */
.quick_menu{width:100%;height:277px;min-width:1920px;margin:0 auto;background:#f4f5f7;}
.quick_menu .quick_inner{position: relative; padding-top:50px;}
.quick_menu li{position: relative; float:left;width:165px;margin-right:42px;}
.quick_menu li:last-child{margin-right:0;}
.quick_inner li.icon:after{position: absolute; top: 0; left: 0; width: 90px; height: 75px; background: url(../images/main/sp_quick_menu.png)0 3px;content: "";cursor: pointer;}
.quick_inner li.icon.type2:after{background-position: 0 -197px;}
.quick_inner li.icon.type3:after{background-position: 0 -389px;}
.quick_inner li.icon.type4:after{background-position: -200px 7px;}
.quick_inner li.icon.type5:after{background-position: -200px -190px;}
.quick_inner li.icon.type6:after{background-position: -200px -400px;}

.quick_menu li a{display:inline-block;position:relative;padding-top:108px;font-family:'Malgun Gothic';font-size:16px;color:#000;letter-spacing:-0.75px;}
.quick_menu li a:after{position:absolute;bottom:40px;left:0;width:14px;height:1px;background:#3e1e87;content:"";}
.quick_menu li em{display:block;margin-top:10px;font-style:normal;font-family:'Malgun Gothic';font-size:12px;color:#666;letter-spacing:-1px;line-height:18px;}
.quick_menu a span{display:inline-block;width:48px;height:20px;background:#ff0000;font-size:10px;font-weight:normal;color:#fff;text-align:center;line-height:20px;border-radius:10px;}
.quick_menu li.on a{font-weight:bold;color:#3e1e87;}
.quick_menu .quick_inner:after{display:block;clear:both;content:"";}

/* 특가항공권~리뷰 */
.special_ticket{width:100%;min-width:1920px;margin:0 auto;padding:70px 0 340px;}
.tab_ticket_cate{text-align:center;width:450px;height:40px;margin:0 auto 15px;}
.tab_ticket_cate li{float:left;}
.tab_ticket_cate li a{display:inline-block;height:40px;padding:0 20px;font-family:'Spoqa Han Sans';font-size:20px;color:rgba(0,0,0,0.6);line-height:40px;}
.tab_ticket_cate li a.on{border-bottom:3px solid #ff0000; color:rgba(0,0,0,1);}
.tab_ticket_cate:after{isplay:block;clear:both;content:"";}

.ticket_content{}
.tab_ticket{}
.tab_ticket li{float:left;height:34px;}
.tab_ticket li a{display:inline-block;height:34px;padding:0 20px;font-family:'Malgun Gothic';font-size:15px;color:rgba(0,0,0,0.6);line-height:34px;}
.tab_ticket li a.on{border-bottom:2px solid #ff0000; content:"";}
.tab_ticket:after{display:block;clear:both;content:"";}

.ticket_conts{position:relative;}
.ticket_conts .btn_view_all{position:absolute;top:-28px;right:22px;font-family:'Malgun Gothic';font-size:13px;color:#666;letter-spacing:-0.75px;}
.ticket_conts .btn_view_all:after{position: absolute; top: 2px; right: -22px; width: 13px; height: 13px; background: url(../images/main/sp_sel.png)-100px 0; content: ""; cursor: pointer;}
.special_conts ul{margin-top:20px;}
.special_conts li{position: relative; float:left;width:285px;margin-right:20px;}
.special_conts li:last-child{margin-right:0;}
.special_conts li a{display:inline-block;}
.special_conts ul:after{display:block;clear:both;content:"";}
.special_conts .sale_rate{position: absolute; top: 0; right: 0; padding:10px 20px; background: #3e1e87; color: #fff;}
.special_conts .percent{}
.special_conts .ticket_info{display:block;padding:18px;background:#f5f5f5;}
.ticket_info strong{font-family:'Spoqa Han Sans';font-size:20px;color:#333;font-weight:normal;letter-spacing:-0.50px;line-height:1.0em;}
.ticket_info .departure{position: relative; padding-right:34px;}
.ticket_info .departure:after{position: absolute; top: 7px; left: 44px; width: 23px; height: 14px; background: url(../images/main/sp_main_icon.png)-100px 0; content: "";}
.ticket_info em{display:block;margin-top:15px;font-family:'Malgun Gothic';font-size:13px;color:#999;font-style:normal;letter-spacing:-1px;line-height:1.0em;}
.ticket_info span{display:block;margin-top:30px;font-size:18px;color:#000;letter-spacing:-1px;line-height:1.0em;}

.review_conts{display:none;}
.review_conts li{float:left;width:285px;margin-right:20px;}
.review_conts li:last-child{margin-right:0;}
.review_conts .review{margin-bottom:50px;}
.review a{display:block;width:285px;}
.review .review_txt{min-height:80px;padding:15px 10px;font-family:'Malgun Gothic';font-size:13px;color:#666;letter-spacing:-0.75px;line-height:20px;}
.review_conts:after{display:block;clear:both;content:"";}

/* 비용-여행지 검색 */
.ticket_chart{width:100%;height:920px;min-width:1920px;margin:0 auto;background:#745fa7;}
.ticket_chart .main_inner{padding-top:70px;}
.ticket_chart .tab_chart{width:415px;height:40px;margin:0 auto;}
.ticket_chart li{float:left;}
.ticket_chart li a{display:inline-block;padding:0 20px;font-family:'Spoqa Han Sans';font-size:20px;color:rgba(255,255,255,0.3);}
.ticket_chart li.on{border-bottom:3px solid #ff0000;transform:skewX(-25deg);}
.ticket_chart li.on a{color:#fff;transform:skewX(25deg);margin-left:-15px;}
.ticket_chart:after{display:block;clear:both;content:"";}

.chart_box{margin-top:50px;}
.tit_chart{margin:50px 0;font-family:'Spoqa Han Sans';font-size:30px;color:#fff;text-align:center;}
.tit_chart select{margin:0 15px;}
.chart_box .cost_chart{display:none;}

/* 이벤트 */
.main_event{width:100%;min-width:1920px;margin:0 auto;padding-bottom:140px;}
.main_event dl{margin-top:70px;}
.main_event dl dt{font-family:'Spoqa Han Sans';font-size:20px;color:#3e1e87;text-align:center;line-height:1.0em;letter-spacing:-0.75px;}
.main_event dl dd{margin-top:38px;font-family:'Spoqa Han Sans';font-size:30px;color:#222;text-align:center;line-height:1.0em;letter-spacing:-0.75px;}
.event_content{position:relative;margin-top:35px;font:0/0 Arial;}
.event_content .btn_view_all{position:absolute;top:-55px;right:0;}
.event_content .event_cont{display:inline-block;width:285px;height:387px;margin-right:20px;vertical-align:middle;}
.event_content .event_cont:last-child{margin-right:0;}
.event_cont .event_txt{display:block;width:243px;height:59px;padding:20px;border:1px solid #e6e6e6;}
.event_txt strong{display:block;font-family:'Malgun Gothic';font-size:18px;color:#333;font-weight:normal;letter-spacing:-1px;line-height:20px;}
.event_txt em{display:block;overflow:hidden;width:243px;height:16px;margin-top:13px;font-family:'Malgun Gothic';font-size:14px;color:#666;font-style:normal;letter-spacing:-1px;line-height:1.0em;text-overflow:ellipsis;white-space:nowrap;}
